{% extends 'headfoot.html' %}

{% block content %}
    
    <div class="tm-container">
        {% for i in home %}
            <div class="parallax-window" data-parallax="scroll" data-image-src="{{ i.img.url }}">
            </div>
        {% endfor %}
    </div>

    <div class="tm-container bg-white">
        <div class="tm-header-stripe w-100"></div>
        <div class="container-fluid">
            <!--Intro-->
            
            <section class="row tm-mb-1">
                <h2 class="col-12 text-center tm-text-primary tm-my-1 tm-intro-text">Introducing the real dynamic</h2>
                {% for i in homeintro %}
                <div class="col-lg-4 text-center">
                    <div class="tm-box-1">
                        <i class="fas fa-truck-moving fa-4x tm-icon-1"></i>
                        <h3 class="tm-h3 tm-text-primary">{{ i.name }}</h3>
                        <p>{{ i.about }}</p>   
                    </div>
                </div>
                {% endfor %}
            </section>

            <!-- Services -->
            <div class="row tm-mb-1">
                <div class="col-lg-4">
                    {% for i in homeserv1 %}
                    <div class="tm-bg-gray tm-box-2">
                        
                        <i class="fas fa-3x fa-sign tm-mb-3"></i>
                        <h3 class="tm-text-primary tm-h3">{{ i.name }}</h3>
                        <p class="tm-mb-4">{{ i.about }}</p>
                        <ul class="tm-mb-4">
                            <li>{{ i.name1 }}/li>
                            <li>{{ i.name2 }}</li>
                            <li>{{ i.name3 }}</li>
                            <li>{{ i.name4 }}</li>
                            <li>{{ i.name5 }}</li>
                        </ul>
                        <a href="#" class="d-block text-right btn-pad btn-text">More Details...</a>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-4">
                    {% for i in homeserv2 %}
                    <i class="fas fa-mobile-alt fa-5x tm-icon-2 d-block text-center"></i>
                    
                    <div class="tm-bg-gray tm-box-2">
                        <h3 class="tm-text-primary tm-h3">{{ i.name }}</h3>
                        <p class="tm-mb-5">{{ i.about }}</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary rounded-0">Read More</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-4">
                    {% for i in homeserv3 %}
                    <i class="fas fa-sms fa-5x tm-icon-2 d-block text-center"></i>
                    <div class="tm-bg-gray tm-box-2">
                        <h3 class="tm-text-primary tm-h3">{{ i.name }}</h3>
                        <p class="tm-mb-5">{{ i.about }}</p>
                        <div class="text-center"><a href="#" class="btn btn-secondary rounded-0">Read More</a></div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Testimonials -->
            <div class="tm-mb-2">
                <h2 class="text-center tm-text-primary tm-h2-big tm-mb-6">Our Happy Customers</h2>
                <!-- Carousel -->
                <div class="col-lg-6 mx-auto tm-mb-4">
                    <div class="tm-carousel">
                        <div class="text-center">
                            <h3 class="tm-mb-4 tm-text-dark-gray">Vivamus vitae condimentum</h3>
                            <p class="tm-mb-4">Vestibulum condimentum, elit nec tempus suscipit, enim nibh aliquam eros, sit amet iaculis nibh nibh at dolor. Cras imperdiet, dolor posuere dignissim dapibus, tortor arcu pellentesque orci, et mattis libero justo semper neque.</p>
                            <div class="rating">
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star"></span>
                            </div>
                        </div>
                        <div class="text-center">
                            <h3 class="tm-mb-4 tm-text-dark-gray">Cras imperdiet, dolor posuere</h3>
                            <p class="tm-mb-4">Elit nec tempus suscipit, enim nibh aliquam eros, sit amet iaculis nibh Vestibulum condimentum, nibh at dolor.Vivamus vitae condimentum dignissim dapibus, tortor arcu pellentesque orci, et mattis libero justo semper neque.</p>
                            <div class="rating">
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star checked"></span>
                            </div>
                        </div>
                        <div class="text-center">
                            <h3 class="tm-mb-4 tm-text-dark-gray">Elit nec tempus suscipit</h3>
                            <p class="tm-mb-4">Cras imperdiet, dolor posuere dignissim dapibus, tortor arcu pellentesque orci, et mattis libero justo semper neque.Vivamus vitae condimentum. Elit nec tempus suscipit, enim nibh aliquam eros, sit amet iaculis nibh nibh at dolor. </p>
                            <div class="rating">
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star"></span>
                            </div>
                        </div>
                        <div class="text-center">
                            <h3 class="tm-mb-4 tm-text-dark-gray">Tempus suscipit, enim</h3>
                            <p class="tm-mb-4">Tortor arcu pellentesque orci, et mattis libero justo semper neque. Vestibulum condimentum, elit nec tempus  suscipit, enim nibh aliquam eros, sit amet iaculis nibh nibh at dolor. Cras imperdiet, dolor posuere dignissim dapibus. </p>
                            <div class="rating">
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star"></span>
                            </div>
                        </div>
                        <div class="text-center">
                            <h3 class="tm-mb-4 tm-text-dark-gray">Dolor posuere dignissim dapibus</h3>
                            <p class="tm-mb-4">Posuere dignissim dapibus, tortor arcu pellentesque orci, et mattis libero justo semper neque. Vestibulum condimentum, elit nec tempus suscipit, enim nibh aliquam eros, sit amet iaculis nibh nibh at dolor. Vivamus vitae condimentum dolor.</p>
                            <div class="rating">
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star checked"></span>
                                <span class="star fas fa-star"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row tm-mb-7">
                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5">
                    <h3 class="tm-text-primary tm-mb-4">Useful Readings</h3>
                    <nav class="tm-nav-secondary">
                        <ul>
                            <li><a href="#">Laoreet eget justo</a></li>
                            <li><a href="#">Rhoncus volupat turpi</a></li>
                            <li><a href="#">Nulla euismod erat</a></li>
                            <li><a href="#">Donc a laoreet ipsum</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5">
                    <h3 class="tm-text-primary tm-mb-4">Our Pages</h3>
                    <nav class="tm-nav-secondary">
                        <ul>
                            <li><a href="#">Background</a></li>
                            <li><a href="#">Our Mission</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Features</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5">
                    <h3 class="tm-text-primary tm-mb-4">Main Menu</h3>
                    <nav class="tm-nav-secondary">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5">
                    <h3 class="tm-text-primary tm-mb-4">About Real Dynamic</h3>
                    <p class="tm-mb-4">Ut non orci semper, semper velit sit amet, ornare velit. Vestibulum id ipsum et justo bibendum ornare id sit amet  arcu. Integer placerat magna.</p>
                    <div>
                        <a href="https://youtube.com" class="tm-social-link"><i class="fab fa-youtube tm-social-icon"></i></a>
                        <a href="https://fb.com/templatemo" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                        <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
                        <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
                    </div>
                </div>
            </div>
{% endblock %}